<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.edu.scau.scd.mapper.ItemMapper" >
  <resultMap id="BaseResultMap" type="cn.edu.scau.scd.po.Item" >
    <id column="item_id" property="itemId" jdbcType="VARCHAR" />
    <result column="item_name" property="itemName" jdbcType="VARCHAR" />
    <result column="item_price" property="itemPrice" jdbcType="BIGINT" />
    <result column="item_num" property="itemNum" jdbcType="INTEGER" />
    <result column="item_cat_name" property="itemCatName" jdbcType="VARCHAR" />
    <result column="item_imgs" property="itemImgs" jdbcType="VARCHAR" />
    <result column="item_status" property="itemStatus" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="cn.edu.scau.scd.po.Item" extends="BaseResultMap" >
    <result column="item_desc" property="itemDesc" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    item_id, item_name, item_price, item_num, item_cat_name, item_imgs, item_status
  </sql>
  <sql id="Blob_Column_List" >
    item_desc
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="cn.edu.scau.scd.po.ItemExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from item
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="cn.edu.scau.scd.po.ItemExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from item
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from item
    where item_id = #{itemId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from item
    where item_id = #{itemId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="cn.edu.scau.scd.po.ItemExample" >
    delete from item
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="cn.edu.scau.scd.po.Item" >
    insert into item (item_id, item_name, item_price, 
      item_num, item_cat_name, item_imgs, 
      item_status, item_desc)
    values (#{itemId,jdbcType=VARCHAR}, #{itemName,jdbcType=VARCHAR}, #{itemPrice,jdbcType=BIGINT}, 
      #{itemNum,jdbcType=INTEGER}, #{itemCatName,jdbcType=VARCHAR}, #{itemImgs,jdbcType=VARCHAR}, 
      #{itemStatus,jdbcType=INTEGER}, #{itemDesc,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.edu.scau.scd.po.Item" >
    insert into item
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="itemId != null" >
        item_id,
      </if>
      <if test="itemName != null" >
        item_name,
      </if>
      <if test="itemPrice != null" >
        item_price,
      </if>
      <if test="itemNum != null" >
        item_num,
      </if>
      <if test="itemCatName != null" >
        item_cat_name,
      </if>
      <if test="itemImgs != null" >
        item_imgs,
      </if>
      <if test="itemStatus != null" >
        item_status,
      </if>
      <if test="itemDesc != null" >
        item_desc,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="itemId != null" >
        #{itemId,jdbcType=VARCHAR},
      </if>
      <if test="itemName != null" >
        #{itemName,jdbcType=VARCHAR},
      </if>
      <if test="itemPrice != null" >
        #{itemPrice,jdbcType=BIGINT},
      </if>
      <if test="itemNum != null" >
        #{itemNum,jdbcType=INTEGER},
      </if>
      <if test="itemCatName != null" >
        #{itemCatName,jdbcType=VARCHAR},
      </if>
      <if test="itemImgs != null" >
        #{itemImgs,jdbcType=VARCHAR},
      </if>
      <if test="itemStatus != null" >
        #{itemStatus,jdbcType=INTEGER},
      </if>
      <if test="itemDesc != null" >
        #{itemDesc,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="cn.edu.scau.scd.po.ItemExample" resultType="java.lang.Integer" >
    select count(*) from item
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update item
    <set >
      <if test="record.itemId != null" >
        item_id = #{record.itemId,jdbcType=VARCHAR},
      </if>
      <if test="record.itemName != null" >
        item_name = #{record.itemName,jdbcType=VARCHAR},
      </if>
      <if test="record.itemPrice != null" >
        item_price = #{record.itemPrice,jdbcType=BIGINT},
      </if>
      <if test="record.itemNum != null" >
        item_num = #{record.itemNum,jdbcType=INTEGER},
      </if>
      <if test="record.itemCatName != null" >
        item_cat_name = #{record.itemCatName,jdbcType=VARCHAR},
      </if>
      <if test="record.itemImgs != null" >
        item_imgs = #{record.itemImgs,jdbcType=VARCHAR},
      </if>
      <if test="record.itemStatus != null" >
        item_status = #{record.itemStatus,jdbcType=INTEGER},
      </if>
      <if test="record.itemDesc != null" >
        item_desc = #{record.itemDesc,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update item
    set item_id = #{record.itemId,jdbcType=VARCHAR},
      item_name = #{record.itemName,jdbcType=VARCHAR},
      item_price = #{record.itemPrice,jdbcType=BIGINT},
      item_num = #{record.itemNum,jdbcType=INTEGER},
      item_cat_name = #{record.itemCatName,jdbcType=VARCHAR},
      item_imgs = #{record.itemImgs,jdbcType=VARCHAR},
      item_status = #{record.itemStatus,jdbcType=INTEGER},
      item_desc = #{record.itemDesc,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update item
    set item_id = #{record.itemId,jdbcType=VARCHAR},
      item_name = #{record.itemName,jdbcType=VARCHAR},
      item_price = #{record.itemPrice,jdbcType=BIGINT},
      item_num = #{record.itemNum,jdbcType=INTEGER},
      item_cat_name = #{record.itemCatName,jdbcType=VARCHAR},
      item_imgs = #{record.itemImgs,jdbcType=VARCHAR},
      item_status = #{record.itemStatus,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="cn.edu.scau.scd.po.Item" >
    update item
    <set >
      <if test="itemName != null" >
        item_name = #{itemName,jdbcType=VARCHAR},
      </if>
      <if test="itemPrice != null" >
        item_price = #{itemPrice,jdbcType=BIGINT},
      </if>
      <if test="itemNum != null" >
        item_num = #{itemNum,jdbcType=INTEGER},
      </if>
      <if test="itemCatName != null" >
        item_cat_name = #{itemCatName,jdbcType=VARCHAR},
      </if>
      <if test="itemImgs != null" >
        item_imgs = #{itemImgs,jdbcType=VARCHAR},
      </if>
      <if test="itemStatus != null" >
        item_status = #{itemStatus,jdbcType=INTEGER},
      </if>
      <if test="itemDesc != null" >
        item_desc = #{itemDesc,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where item_id = #{itemId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="cn.edu.scau.scd.po.Item" >
    update item
    set item_name = #{itemName,jdbcType=VARCHAR},
      item_price = #{itemPrice,jdbcType=BIGINT},
      item_num = #{itemNum,jdbcType=INTEGER},
      item_cat_name = #{itemCatName,jdbcType=VARCHAR},
      item_imgs = #{itemImgs,jdbcType=VARCHAR},
      item_status = #{itemStatus,jdbcType=INTEGER},
      item_desc = #{itemDesc,jdbcType=LONGVARCHAR}
    where item_id = #{itemId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.edu.scau.scd.po.Item" >
    update item
    set item_name = #{itemName,jdbcType=VARCHAR},
      item_price = #{itemPrice,jdbcType=BIGINT},
      item_num = #{itemNum,jdbcType=INTEGER},
      item_cat_name = #{itemCatName,jdbcType=VARCHAR},
      item_imgs = #{itemImgs,jdbcType=VARCHAR},
      item_status = #{itemStatus,jdbcType=INTEGER}
    where item_id = #{itemId,jdbcType=VARCHAR}
  </update>
</mapper>